body {
  /*font-family:"segoe UI";*/
  font-family: "Open Sans", sans-serif;
  overflow: hiden;
}

a {
  color: rgb(14, 48, 91);
  outline: none;
}

input[type="password"]:focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]) {
  border-bottom: 1px solid rgb(255, 126, 120);
  box-shadow: 0 1px 0 0 rgb(255, 126, 120);
}

#email_error,
#ids_error {
  display: none;
  color: red;
  /*letter-spacing: 1px;*/
  width: 100%;
  z-index: 2;
}

#email_error {
  position: absolute;
  top: 0;
  background-color: white;
  cursor: text;
}

#ids_error {
  height: 35px;
  text-align: center;
  color: red;
  padding-top: 7px;
}

/*#ids_error {
	display: none;
	position: absolute;
	color: red;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	background-color: white;
	cursor: text;
	z-index: 2;
    background-color: rgba(255, 255, 255, 0.86);
	text-align: center;
}*/

.progress .determinate {
  background-color: rgb(255, 126, 120) !important;
}

.progress {
  background-color: #ffebee !important;
  height: 5px !important;
  margin: 0;
}

#compare .store-name,
#compare .price {
  font-size: 13px;
}
#compare .price {
  /*font-size:11px;*/
  color: rgb(255, 126, 120) !important;
}

#compare .store-line {
  margin-bottom: 0px !important;
  cursor: pointer;
}

#compare .store-line:hover {
  background-color: #f5f5f5 !important;
}

.logo {
  width: 100px;
  margin: 5px auto;
}

.accordeon .collapsible-header,
.accordeon .material-icons {
  height: 3.5rem !important;
  line-height: 3.5rem !important;
}

.accordeon .material-icons {
  margin-right: 15px;
  font-size: 24px !important;
}

.accordeon .collapsible-header {
  font-size: 16px;
}

.accordeon .collapsible-header.active {
  background-color: rgb(255, 249, 248);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu li a {
  color: rgb(14, 48, 91);
  padding: 0.4rem 1rem;
  font-size: 14px;
}

/*
* TOUR
*/
.tour-backdrop-wanteeed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9991102;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=80);
}
.tour-step-backdrop-wanteeed {
  position: relative;
  z-index: 9991103;
  background: inherit;
}
.tour-step-backdrop-wanteeed > td {
  position: relative;
  z-index: 9991103;
}
.tour-step-background-wanteeed {
  position: absolute !important;
  z-index: 9991102;
  background: inherit;
  border-radius: 6px;
}

/*restaurer l effet hover

.btn {
  overflow: hidden;
}
.btn:hover:before {
  opacity:1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}*/

#close > i {
  transition: color 0.15s;
}

#close > i:hover {
  color: #696969 !important;
}

#offerpanel i {
  line-height: 59px;
  font-size: 53px;
  display: inherit;
}

#exclusionsContent ul {
  padding: 0px 0px 0px 15px;
  font-size: 12px;
}

#exclusionsContent ul li {
  list-style-type: disc;
}

#wanteeedMEA-panel {
  padding: 5px;
  text-align: center;
  background: #fff;
  font-size: 12px;
  color: #4b4b4b;
  /* box shadow & border radius */
  -webkit-box-shadow: 0px 0px 10px 0px rgba(140, 140, 140, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(140, 140, 140, 1);
  box-shadow: 0px 0px 10px 0px rgba(140, 140, 140, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* clearfix */
  overflow: auto;
  zoom: 1;
}

#wanteeedMEA-panel .icon.logo {
  width: 50px;
}

#wanteeedMEA-panel .icon.close {
  cursor: pointer;
  width: 12px;
  position: absolute;
  top: 16px;
  right: 16px;
}

#wanteeedMEA-panel .col-left {
  float: left;
  margin-right: 20px;
}

#wanteeedMEA-panel .col-right {
  float: right;
}

#wanteeedMEA-panel .activate-link {
  margin-top: 5px;
  cursor: pointer;
  text-decoration: underline;
}

#wanteeedMEA-panel .title {
  font-weight: bold;
}

#wanteeedMEA-panel .red {
  color: #c80030;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#checkpanel {
  flex-grow: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  min-height: 212px;
  margin: 0 auto;
  text-align: center;
}

.panel .circle {
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin: 0 auto;
  border: 1px solid rgb(255, 126, 120);
  font-size: 25px;
}

.panel .circle.wide {
  width: 70px;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.btn {
  width: auto !important;
  min-width: 195px;
}

.toggle-vouchers {
  margin-left: 2px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.toggle-vouchers::before {
  content: "\203A";
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}

.toggle-vouchers.open::before {
  transform: rotate(90deg);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.header--gift .gift {
  display: block !important;
} 

.dropdown-content--shown {
  display: block;
  opacity: 1;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:37px;
}
.tabs .tab {
  margin: 0 13px;
}
.tabs li.tab>a {
  color: #0e305b;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.tabs.register .tab, .tabs.login .tab {
  width: 80px;
}

.header:not(.header--gift) .tabs .tab {
  flex: 1;
}
.header--gift .tabs li.tab>a {
  font-size: 12px;
}

.tabs li.tab>a.active {
  border-bottom: 2px solid #ee6e73;
  height: 42px;
}

.tab.gift {
  flex: 1;
  display: none;
}

.tab-content {
  display: none;
  width: 100%;
  background-color: white;
}

.tab-content.active {
  display: block;
}

.cta {
  display: flex;
  justify-content: center;
}
.cta button {
  height: initial;
  font-size: 16px;
  margin-top: 30px;
}
.cta a {
  color: #ff7e78;
  cursor: pointer;
  margin: 8px 0 15px 0;
}

#cardpanel {
  overflow: auto;
  height: 332px;
}
.cardLink {
  cursor: pointer;
}

.intro {
  margin-bottom: 10px;
}
.intro-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.intro-logo>img {
  width: 260px;
}
.intro-text {
  display: flex;
  justify-content: center;
  font-size:17px;
}

.detail {
  display: none;
}

.gift-card {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gift-card--desc {
  margin: 0 4px;
  font-size: 12px;
}
.gift-card--percent {
  background: #ff7e78;
  color: #fff;
  padding: 5px;
  border-radius: 12px;
  font-weight: 600;
}
.gift-card--total {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.gift-card--subtotal {
  color: #ff7e78;
  font-weight: 600;
}
.gift-card--discount {
  font-size: 10px;
  font-weight: 600;
}
